/* Modal Header */
.bot-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

/* The Close Button */
.bot-close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.bot-close:hover,
.bot-close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.bot-modal-header {
    padding: 2px 16px;
    color: white;
}

/* Modal Body */
.bot-modal-body {
  overflow: hidden;
}

/* Modal Footer */
.bot-modal-footer {
    padding: 2px 16px;
    color: white;
}

/* Modal Content */
.bot-modal-content {
    padding: 7px;
    border-radius: 5px;
    position: relative;
    /* background-color: #fefefe; */
    margin: 5% auto;
    /* padding: 0; */
    /* border: 1px solid #888; */
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.bot-modal-article {
  margin: 8px;
  padding: 30px;
  background: white;

}

.bot-modal-img {
  padding-bottom: 25px;
}

.bot-modal img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 400px;
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media (max-width: 480px) {
  .bot-modal-content {
    width:100%;

  }
}
